<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Traincontrol' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="manifest" href="/manifest.json">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-prefetch" content="false">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= yield :head %>
  </head>

  <body class="min-h-screen">

    <%= yield %>

  </body>
</html>
